.wrap{
	width:200px;
	height:200px;
	margin:50px auto;
	transform-style:preserve-3d;
}
.box{
	width:200px;
	height:200px;
	margin:50px auto;
	animation:size 1s infinite;
	animation-direction:alternate;
	transition:1s all;
}
.round1{
	width:100px;
	height:100px;
	border-radius:50%;
	background-color:red;
	float:left;
	position:absolute;
}
.round2{
	width:100px;
	height:100px;
	border-radius:50%;
	background-color:red;
	float:left;
	position:absolute;
	margin-left:80px;
}
.rec{
	width:100px;
	height:100px;
	background-color:red;
	float:left;
	position:absolute;
	margin-top:40px;
	margin-left:40px;
	transform:rotateZ(45deg);
	-webkit-transform:rotateZ(45deg);
	-moz-transform:rotateZ(45deg);
	-ms-transform:rotateZ(45deg);
	-o-transform:rotateZ(45deg);
}
@keyframes size{
	0%{
		transform:scale(0.6);
	}
	100%{
		transform:scale(1);
	}
}
.words{
	width:200px;
	height:200px;
	margin:-250px auto;
	color:#fff;
	transform:rotateY(-90deg);
	-webkit-transform:rotateY(-90deg);
	-moz-transform:rotateY(-90deg);
	-ms-transform:rotateY(-90deg);
	-o-transform:rotateY(-90deg);
}
.wrap:hover{
	transform:rotateY(90deg);
	-webkit-transform:rotateY(90deg);
	-moz-transform:rotateY(90deg);
	-ms-transform:rotateY(90deg);
	-o-transform:rotateY(90deg);
	transition:1.5s all;
}
.love{
	z-index:1000;
	position:absolute;
	margin-top:60px;
	margin-left:50px;
	width:100px;
}
.return{
	bottom:50px;
	right:50px;
	position:fixed;
	width:60px;
	height:60px;
	background-color:#ccc;
	opacity:0.8;
	color:green;
	font-size:12px;
	font-family:微软雅黑;
	text-align:center;
	line-height:60px;
	border-radius:50%;
}
.return:hover{
	opacity:1;
}
a{
	color:green;
	text-decoration:none;
}