.tasks-box{
	width:400px;
	height:auto;
	margin:40px auto;
}
.task{
	margin:10px;
}
.task input[type="text"]
{
	width:300px;
	border:none;
	border-color:#ccc;
	border-width:1px;
	border-bottom-style:dashed;
}
.task input[type="checkbox"]{
	margin-left:10px;
}
.task label{
	font-size:14px;
	font-family:微软雅黑;
}
h3{
	color:#1E90FF;
}
.return{
	bottom:50px;
	right:50px;
	position:fixed;
	width:60px;
	height:60px;
	background-color:#ccc;
	opacity:0.8;
	color:green;
	font-size:12px;
	font-family:微软雅黑;
	text-align:center;
	line-height:60px;
	border-radius:50%;
}
.return:hover{
	opacity:1;
}
a{
	color:green;
	text-decoration:none;
}